div {
    height: 100px;
    background: #881abba4;
    margin-top: 100px;
    p {
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: red;
        font-size: 30px;
    }
}